<!DOCTYPE html>
<html>
<head>
    <title>Confirmation de demande de don</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #007BFF;
        }

        p {
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Confirmation de demande de don</h1>
    
    <p>Merci, votre demande de don a été prise en charge.</p>

    <p>Détails de votre donation :</p>
    <ul>
        <li>Quantité : {{ donation.quantity }}</li>
        <li>Date : {{ donation.createdAt|date('Y-m-d H:i:s') }}</li>
        {# Add more details as needed #}
    </ul>

    

</body>
</html>
