{% extends 'baseFront.html.twig' %}
 {% block navbar %}
    <div class="yo">
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <img src="{{asset('Front/img/logoW.png')}}" alt="" style="width: 78px; height: 73px;">
                <a href="index.html" class="navbar-brand" style="padding-top: 120px;">
                 
                </a>

                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
                    <div class="navbar-nav ms-auto">
                        <a href="index.html" class="nav-item nav-link active">Home</a>
                        <a href="about.html" class="nav-item nav-link">About</a>
                        <a href="service.html" class="nav-item nav-link">Services</a>
                        <a href="project.html" class="nav-item nav-link">Projects</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu bg-light mt-2">
                                <a href="feature.html" class="dropdown-item">Features</a>
                                <a href="team.html" class="dropdown-item">Our Team</a>
                                <a href="faq.html" class="dropdown-item">FAQs</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                <a href="404.html" class="dropdown-item">404 Page</a>
                            </div>
                        </div>
                        <a href="{{ path('app_association_new') }}" class=""><button class="bt">Get involved !</button></a>
                    </div>
                    
                
            </nav>
        </div>
    </div>
    </div>
    {% endblock %}

    {% block body %}

    <style>
.yo {
  
  background-color: #265936;
}

.custom-container {
             /* Change the height as needed */
            margin-top: 10vh; /* Adjust the margin-top as needed */
            display: flex;
            justify-content: center;
            align-items: center;
        }
</style>

    <body>

        <div class="custom-container">
            <div class="col-md-4">
                <div class="border border-3 border-success"></div>
                <div class="card  bg-white shadow p-5">
                    <div class="mb-4 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75"
                            fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                    </div>
                    <div class="text-center">
                        <h1>Thank You </h1>
                        <p>Check Your Email !</p>
                        <a href="{{ path('app_home') }}" ><button class="btn btn-outline-success">Back Home</button></a>
                    </div>
                </div>
            </div>
        </div>
        <script>
                setTimeout(function(){
                    window.location.href = "{{ path('app_home') }}";
                }, 6000);
            </script>
    
    </body>

    {% endblock%}

    {% block footer%}
    {% endblock%}





