

<!DOCTYPE html>
<html lang="en">
<style> 

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
 
  background-size: cover;
  background-color: #D1FAE5;
}

.success-button-main,
.success-button-secondary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.success-button-main {
  background-color: #ECFDF5;
  color: rgb(22 101 52);
  font-weight: bold;
}

.success-button-main:hover {
  background-color: #D1FAE5;
}

.success-button-secondary {
  margin-left: 0.75rem;
  background-color: #ECFDF5;
  color: #065F46;
}

.success-button-secondary:hover {
  background-color: #D1FAE5;
}


.notifications-container {
  width: 450px;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.success {
  width: 400px; /* Adjust the width as needed */
  height: auto;
  padding: 30px; /* Adjust the padding for more space inside the card */
  border-radius: 10px;
  background-color: #ECFDF5; /* Background color for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.succes-svg {
  color: rgb(74 222 128);
  width: 1.25rem;
  height: 1.25rem;
}

.success-prompt-wrap {
  margin-left: 0.75rem;
}

.success-prompt-heading {
  font-weight: bold;
  color: rgb(22 101 52);
}

.success-prompt-prompt {
  margin-top: 0.5rem;
  color: rgb(21 128 61);
}

.success-button-container {
 display: flex;
  margin-top: 0.875rem;
  margin-bottom: -0.375rem;
}

.success-button-main {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ECFDF5;
  color: rgb(22 101 52);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  border-radius: 0.375rem;
  border: none;
}

.success-button-main:hover {
  background-color: #D1FAE5;
}

.success-button-secondary {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.75rem;
  background-color: #ECFDF5;
  color: #065F46;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border: none;
}</style>


<div class="notifications-container">
  <div class="success">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="succes-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="success-prompt-wrap">
        <p class="success-prompt-heading">Hello there !</p>
        <div class="success-prompt-prompt">
          <p>Would you like to ask for a donation?</p>
        </div>
        <div class="success-button-container">
        <a href="{{ path('app_donation_new') }}" class="success-button-main">
        
        Yes, sure!
        
        </a>
          
        <a href="{{ path('app_association_index') }}" class="success-button-secondary">
        
        No, thanks
        
        </a>
          
        </div>
      </div>
    </div>
  </div>
</div>
<script>
                setTimeout(function(){
                    window.location.href = "{{ path('app_association_index') }}";
                }, 8000);
            </script>
</html>
