{% extends 'base.html.twig' %}

{% block title %}Edit StoreHouse{% endblock %}

{% block body %}
    <h1>Edit StoreHouse</h1>

    {{ include('store_house/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_store_house_index') }}">back to list</a>

    {{ include('store_house/_delete_form.html.twig') }}
{% endblock %}
