<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Register</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
    <script defer src="{{asset('Back/assets/plugins/fontawesome/js/all.min.js')}}"></script>
    
    <!-- App CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{asset('Back/assets/css/portal.css')}}">
    
    <!-- Custom Styles -->
    {% block stylesheets %}
    <style>
        /* Style des champs du formulaire */
        .form-control {
            border-radius: 30px; /* Rendre les champs ronds */
            border: 1px solid #ced4da; /* Bordure par défaut */
        }

        /* Style des champs lorsque actifs */
        .form-control:focus {
            border-color: #28a745; /* Bordure verte lorsqu'actif */
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); /* Effet de mise en évidence */
        }

        /* Style du bouton Register */
        .btn-primary {
            border-radius: 20px; /* Rendre le bouton rond */
            background-color: #28a745; /* Couleur verte */
            border-color: #28a745; /* Bordure verte */
        }

        .btn-primary:hover {
            background-color: #218838; /* Couleur verte plus foncée au survol */
            border-color: #1e7e34; /* Bordure plus foncée au survol */
        }

        /* Style du fond du formulaire */
        

        /* Style pour aligner les champs deux à deux */
        .auth-form-container .form-row {
            margin-bottom: 20px; /* Espacement entre chaque paire de champs */
        }
        .text-center {
    text-align: center; /* Centrer le texte horizontalement */
    margin-bottom: 20px; /* Espacement en bas du texte */
    color:#218838;
}
 .auth-main-col {
    background-color: white;
}

    </style>
    {% endblock %}
</head> 
<body>
{% block body %}
{% endblock %}
</body>
</html>
